<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>DDIServlet</servlet-name>
        <servlet-class>com.ddi.DDIServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>com.ddi.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReverseServlet</servlet-name>
        <servlet-class>com.ddi.ReverseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>drug_ajax</servlet-name>
        <servlet-class>com.ddi.drug_ajax</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DDIServlet</servlet-name>
        <url-pattern>/submit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/SearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReverseServlet</servlet-name>
        <url-pattern>/ReverseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>drug_ajax</servlet-name>
        <url-pattern>/drug_ajax</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>submit</welcome-file>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
