body{
font-family: Verdana;
font-size: 14px;
background-color: #C2D1E0;
margin: 0px;
padding: 0px;
}

#page{
    background-color: #FFFFFF;
    border-color: #5C6B7A;
    border-left-width:3px;
    border-right-width:3px;
    border-bottom-width:3px;
    border-top-color:white;
    border-style: solid;
    width: 1150px;
    padding: 0px 5px;
    align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top:1px;
    padding-bottom:150px;
}

.infoButton{
height: 30px;
}

.sourceButton{
background-color: #CCCCFF;
height: 30px;
}


.drugField{width:300px;}

.drugs{
margin-top: 30px;
align: center;
}

.image{
text-align:center;
}

.intro{
text-align:center;
}

.stepHeader{
    font-size: 14px;
    font-weight: bold;
}

.whiteText{
    color: #FFFFFF;
    margin-bottom: 50px;
}

.centered{
    text-align: center;
}

.bold{
    font-weight: bold;
}

#drugSelection1{
    display:block;
    float:left;
    padding: 5px;
    margin-left: 360px;
    align: center;
}

#step2{
    display:block;
    float:left;
    padding: 5px;
    width:350px;
    margin-left: 55px;
}

#step3{
    width: 350px;
    text-align: center;
}

#drugSelection2, #step3{
    display:block;
    float:left;
    padding: 5px;
}

.clear{
    clear: both;
}



.hidden{
    display: none;
}

.indent{
    margin-left: 30px;
}

.centerDiv{
    margin-left:auto;
    margin-right:auto;
    width: 300px;
}

.goodSource{
    background: #199419;
    background-image: -webkit-linear-gradient(top, #199419, #0b3d18);
    background-image: -moz-linear-gradient(top, #199419, #0b3d18);
    background-image: -ms-linear-gradient(top, #199419, #0b3d18);
    background-image: -o-linear-gradient(top, #199419, #0b3d18);
    background-image: linear-gradient(to bottom, #199419, #0b3d18);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    text-shadow: 1px 1px 3px #666666;
    -webkit-box-shadow: 0px 1px 3px #666666;
    -moz-box-shadow: 0px 1px 3px #666666;
    box-shadow: 0px 1px 3px #666666;
    font-family: Arial;
    color: #ffffff;
    font-size: 14px;
    padding: 10px;
    border: solid #1f8c38 2px;
    text-decoration: none;
}

.goodSource:hover{
    background: #0b3d18;
    background-image: -webkit-linear-gradient(top, #0b3d18, #199419);
    background-image: -moz-linear-gradient(top, #0b3d18, #199419);
    background-image: -ms-linear-gradient(top, #0b3d18, #199419);
    background-image: -o-linear-gradient(top, #0b3d18, #199419);
    background-image: linear-gradient(to bottom, #0b3d18, #199419);
    border: solid #63896c 2px;
}

.goodSource.displayed:hover{
    border: solid #63896c 2px;
    background: #34d93f;
    background-image: -webkit-linear-gradient(top, #34d93f, #4cfc3c);
    background-image: -moz-linear-gradient(top, #34d93f, #4cfc3c);
    background-image: -ms-linear-gradient(top, #34d93f, #4cfc3c);
    background-image: -o-linear-gradient(top, #34d93f, #4cfc3c);
    background-image: linear-gradient(to bottom, #34d93f, #4cfc3c);
}

.goodSource.displayed{
    background: #4cfc3c;
    background-image: -webkit-linear-gradient(top, #4cfc3c, #34d93f);
    background-image: -moz-linear-gradient(top, #4cfc3c, #34d93f);
    background-image: -ms-linear-gradient(top, #4cfc3c, #34d93f);
    background-image: -o-linear-gradient(top, #4cfc3c, #34d93f);
    background-image: linear-gradient(to bottom, #4cfc3c, #34d93f);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    text-shadow: 1px 1px 3px #666666;
    -webkit-box-shadow: 0px 1px 3px #666666;
    -moz-box-shadow: 0px 1px 3px #666666;
    box-shadow: 0px 1px 3px #666666;
    font-family: Arial;
    color: #ffffff;
    font-size: 14px;
    padding: 10px;
    border: solid #1f8c38 2px;
    text-decoration: none;
}

.noSource{
    background: #696869;
    background-image: -webkit-linear-gradient(top, #696869, #212121);
    background-image: -moz-linear-gradient(top, #696869, #212121);
    background-image: -ms-linear-gradient(top, #696869, #212121);
    background-image: -o-linear-gradient(top, #696869, #212121);
    background-image: linear-gradient(to bottom, #696869, #212121);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    text-shadow: 1px 1px 3px #666666;
    -webkit-box-shadow: 0px 1px 3px #666666;
    -moz-box-shadow: 0px 1px 3px #666666;
    box-shadow: 0px 1px 3px #666666;
    font-family: Arial;
    color: #ffffff;
    font-size: 14px;
    padding: 10px;
    border: solid #777b7d 2px;
    text-decoration: none;
}

.noSource:hover{
    border: solid #bebebe 2px;
    background: #212121;
    background-image: -webkit-linear-gradient(top, #212121, #696869);
    background-image: -moz-linear-gradient(top, #212121, #696869);
    background-image: -ms-linear-gradient(top, #212121, #696869);
    background-image: -o-linear-gradient(top, #212121, #696869);
    background-image: linear-gradient(to bottom, #212121, #696869);
}

.noSource.displayed:hover{
    border: solid #bebebe 2px;
    background: #a3a3a3;
    background-image: -webkit-linear-gradient(top, #a3a3a3, #bdbdbd);
    background-image: -moz-linear-gradient(top, #a3a3a3, #bdbdbd);
    background-image: -ms-linear-gradient(top, #a3a3a3, #bdbdbd);
    background-image: -o-linear-gradient(top, #a3a3a3, #bdbdbd);
    background-image: linear-gradient(to bottom, #a3a3a3, #bdbdbd);
}

.noSource.displayed{
    background: #bdbdbd;
    background-image: -webkit-linear-gradient(top, #bdbdbd, #a3a3a3);
    background-image: -moz-linear-gradient(top, #bdbdbd, #a3a3a3);
    background-image: -ms-linear-gradient(top, #bdbdbd, #a3a3a3);
    background-image: -o-linear-gradient(top, #bdbdbd, #a3a3a3);
    background-image: linear-gradient(to bottom, #bdbdbd, #a3a3a3);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    text-shadow: 1px 1px 3px #666666;
    -webkit-box-shadow: 0px 1px 3px #666666;
    -moz-box-shadow: 0px 1px 3px #666666;
    box-shadow: 0px 1px 3px #666666;
    font-family: Arial;
    color: #ffffff;
    font-size: 14px;
    padding: 10px;
    border: solid #777b7d 2px;
    text-decoration: none;
}

.warning{
    color: red;
}

#scrollheader{
    
    top: 0;
    width: 1150px;
    background-color: white;
}

#dataButtons{
    margin-top:275px;
}

.test{
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.buttonRow{
    padding: 5px;
}

.testStuff{
    background-color:pink;
}

.regButton{
    background: #90afc2;
    background-image: -webkit-linear-gradient(top, #90afc2, #4c768f);
    background-image: -moz-linear-gradient(top, #90afc2, #4c768f);
    background-image: -ms-linear-gradient(top, #90afc2, #4c768f);
    background-image: -o-linear-gradient(top, #90afc2, #4c768f);
    background-image: linear-gradient(to bottom, #90afc2, #4c768f);
    -webkit-border-radius: 9;
    -moz-border-radius: 9;
    border-radius: 9px;
    text-shadow: 1px 1px 3px #666666;
    font-family: Arial;
    color: #ffffff;
    font-size: 14px;
    padding: 5px;
    border: solid #446980 2px;
    text-decoration: none;
}

.regButton1{
    background: #90afc2;
    background-image: -webkit-linear-gradient(top, #90afc2, #4c768f);
    background-image: -moz-linear-gradient(top, #90afc2, #4c768f);
    background-image: -ms-linear-gradient(top, #90afc2, #4c768f);
    background-image: -o-linear-gradient(top, #90afc2, #4c768f);
    background-image: linear-gradient(to bottom, #90afc2, #4c768f);
    -webkit-border-radius: 9;
    -moz-border-radius: 9;
    border-radius: 9px;
    text-shadow: 1px 1px 3px #666666;
    font-family: Arial;
    color: #ffffff;
    font-size: 14px;
    padding: 10px;
    border: solid #446980 2px;
    text-decoration: none;
}

.regButton:hover{
    background: #9dcbe8;
    background-image: -webkit-linear-gradient(top, #9dcbe8, #7190a3);
    background-image: -moz-linear-gradient(top, #9dcbe8, #7190a3);
    background-image: -ms-linear-gradient(top, #9dcbe8, #7190a3);
    background-image: -o-linear-gradient(top, #9dcbe8, #7190a3);
    background-image: linear-gradient(to bottom, #9dcbe8, #7190a3);
    text-decoration: none;
}

#existingComment{
    float: left;
    text-align: left;
    width: 65%;
}

#newComment{
    float:right;
}

.comment{
    border: 3px;
    background-color:#C2D1E0;
}

.xtraPadding{
    padding: 5px;
}

<!-- css style for table -->


table a:link {
	color: #666;
	font-weight: bold;
	text-decoration:none;
}
table a:visited {
	color: #999999;
	font-weight:bold;
	text-decoration:none;
}

table a:hover {
	color: #bd5a35;
	text-decoration:underline;
}
table {
	font-family:Arial, Helvetica, sans-serif;
	color:#666;
	font-size:12px;
	text-shadow: 1px 1px 0px #fff;
	background:#eaebec;
	
	border:#ccc 1px solid;

	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;

	-moz-box-shadow: 0 1px 2px #d1d1d1;
	-webkit-box-shadow: 0 1px 2px #d1d1d1;
	box-shadow: 0 1px 2px #d1d1d1;
	
	
}
table th {
	padding:5px 5px 5px 5px;
	border-top:1px solid #fafafa;
	border-bottom:1px solid #e0e0e0;
	background: #B1CFED;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
	background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}

table th:first-child {
	text-align: center;
	padding-left:2px;
}
table tr:first-child th:first-child {
	-moz-border-radius-topleft:3px;
	-webkit-border-top-left-radius:3px;
	border-top-left-radius:3px;
}
table tr:first-child th:last-child {
	-moz-border-radius-topright:3px;
	-webkit-border-top-right-radius:3px;
	border-top-right-radius:3px;
}
table tr {
	text-align: center;
	padding-left:5px;
}
table td:first-child {
	text-align: left;
	padding-left:5px;
	border-left: 0;
}
table td.general {
	width: 90px;
	height:20px;
	border-top: 1px solid #ffffff;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
	
	background: #fafafa;
	/*background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
	background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);*/
}

table td.availabletd{
	background: #D5EBD1;
	width: 90px;
	height:20px;
	border-top: 1px solid #ffffff;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
	text-align:center;
}

/*table td.availabletd:hover{
	background:#FFCC99;
}*/

table td.generalhead {
	width: 173px;
	height:20px;
	border-top: 1px solid #ffffff;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
	font-weight:bold;
	text-align:right;
	
	padding-right:3px;
	background: #fafafa;
	/*background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
	background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);*/
}

table th.longfields {
	
	width: 90px;
	background: #ededed;
	
}

table th.optiontitle {
	
	height: 30px;
	width:185px;
	background: #ededed;
	font-size:15px;
	color:#555;
	
}

table tr.even td {
	background: #f6f6f6;
	background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
	background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
table tr:last-child td {
	border-bottom:0;
}
table tr:last-child td:first-child {
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;
	border-bottom-left-radius:3px;
}
table tr:last-child td:last-child {
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;
	border-bottom-right-radius:3px;
}
table tr td:hover {
	background: rgba(112, 147, 216, 0.9); /*#f2f2f2;*/
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(112, 147, 216, 0.9)), to(rgba(112, 147, 216, 0.9)));
	background: -moz-linear-gradient(top,  rgba(112, 147, 216, 0.9),  rgba(112, 147, 216, 0.9));	
}

.outer {position:relative}
.inner {
  overflow-x:scroll;
  overflow-y:visible;
  
}

blockquote {
  padding: 5px 20px;
  margin: 0 30px 30px;
  font-size: 14px;
  border-left: 5px solid #eee;
  page-break-inside: avoid;
}


.title2{
	font-size:17px;
	font-weight:bold;
	color:#303030;
	text-transform:uppercase;
}

.title3{
	font-size:17px;
	font-weight:bold;
	color:#303030;
}

.centerblock{
		display:inline-block;
		padding-right:50px;
}
.left{
	display:inline-block;
	padding-right:60px;

}


.title1{
	font-size:20px;
	font-weight:bold;
	color:#414241;
	margin-left: 15px;
}

hr{
	color:#6C6E6B;
	height:1px;
}

th{
	height:27px;
	width:40px;
	
}


.table-container {
    /*position: relative;*/
    /*height: 100%;
    width: 100%;*/
    text-align: center;
    
}



.right {
    /*overflow: auto;*/
    /*position: absolute;*/
    /*top: 0px;*/
    /*left: 370px;*/
    /*width: 100%;*/	
    display:inline-block;
    overflow:scroll;
    overflow:visible;
    
    
    
}

.headcol{
	/*margin-left:200px;*/
	display:inline-block;
	
	
}


.desc{
	align:left;
	word-break:normal;
}

.pseudolink:link{
	text-decoration: none;
	color:#00CC00;
}

.pseudolink:hover{
	text-decoration: none;
	color:#000000;
}

.pseudolink:visited{
	text-decoration: none;
	color:#00CC00;
}


#submitButton{
	display:inline-block;
	padding-left:20px;

}

#submitButton1{
	align:center;

}

.firstpagemargin{
	margin-right:40px;
	margin-left:40px;
	margin-top:110px;
}